In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [16]:
df_SPX = pd.read_csv('https://s3.eu-west-1.amazonaws.com/neueda.conygre.com/pydata/SPX.csv',
                     index_col='Date', parse_dates=True)

df_SPX

               Price      Open      High       Low Change %
Date
2017-12-29  2,673.61  2,689.15  2,692.12  2,673.61   -0.52%
2017-12-28  2,687.54  2,686.10  2,687.66  2,682.69    0.18%
2017-12-27  2,682.62  2,682.10  2,685.64  2,678.91    0.08%
2017-12-26  2,680.50  2,679.09  2,682.74  2,677.96   -0.11%
2017-12-22  2,683.34  2,684.22  2,685.35  2,678.13   -0.05%
...              ...       ...       ...       ...      ...
2006-01-10  1,289.69  1,290.15  1,290.15  1,283.76   -0.04%
2006-01-09  1,290.15  1,285.45  1,290.78  1,284.82    0.37%
2006-01-06  1,285.45  1,273.48  1,286.09  1,273.48    0.94%
2006-01-05  1,273.48  1,273.46  1,276.91  1,270.30    0.00%
2006-01-04  1,273.46  1,268.80  1,275.37  1,267.74    0.37%

[3017 rows x 5 columns]

In [17]:
df_SPX['Price'] = pd.to_numeric(df_SPX['Price'].str.replace(',', ''))
df_SPX['Open'] = pd.to_numeric(df_SPX['Open'].str.replace(',', ''))
df_SPX['High'] = pd.to_numeric(df_SPX['High'].str.replace(',', ''))
df_SPX['Low'] = pd.to_numeric(df_SPX['Low'].str.replace(',', ''))
df_SPX['Change %'] = pd.to_numeric(df_SPX['Change %'].str.replace('%', ''))

print(df_SPX.dtypes)

Price       float64
Open        float64
High        float64
Low         float64
Change %    float64
dtype: object

ValueError: to assemble mappings requires at least that [year, month, day] be specified: [day,month,year] is missing